# ignore all root items
/*

# unignore folders
!notes_mind/
!assets/

# common python ignores
__pycache__/

# unignore files
!.gitignore
!README.md
!pyproject.toml
!uv.lock
!Makefile
!.pre-commit-config.yaml
!.editorconfig
!LICENSE
!tox.ini
